{{#each posts}}
    <div class="post">
        <h2 class="post-title"><a href="/post/{{this.id}}" class="post-hover">{{this.title}}</a></h2>
        <p class="post-content">{{this.content}}</p>
        <p class="post-home-details">Created by <span class="post-author">{{this.user.username}}</span> on {{formatDate this.createdAt}}</p>

        <h3 class="comments-title">Comments</h3>

        {{#each this.comments}}
            <div class="comment">
                <p>{{this.comment_text}}</p>
                <p class="comment-author-block">By <span class="comment-author">{{this.user.username}}</span> on {{formatDate this.createdAt}}</p>
            </div>
        {{else}}
            <a href="/post/{{this.id}}">Be the first to comment</a>
        {{/each}}

        {{#if loggedIn}}
            <form class="comment-form">
                <input type="hidden" name="post-id" value="{{this.id}}">
                <div>
                    <label for="comment-text-{{this.id}}">Comment:</label>
                    <textarea id="comment-text-{{this.id}}" name="comment_text" required></textarea>
                </div>
                <button type="submit">Add Comment</button>
            </form>
            <script src="/js/comment.js"></script>
        {{/if}}
    </div>
{{else}}
    <p>No posts yet.</p>
{{/each}}

<script src="/js/comment.js"></script>