<div class="post">
    <h2 class="post-title" class="post-hover">{{post.title}}</h2>
    <p class="post-content">{{post.content}}</p>
    <p class="comment-author-block">By <span class="post-author">{{post.user.username}}</span> on {{formatDate post.createdAt}}</p>
    {{#if loggedIn}}
        {{#ifCond this.user_id ../loggedInUser.id}}
            <button class="delete-post-btn" data-id="{{post.id}}">Delete Post</button>
            <a href="/dashboard/edit-post/{{post.id}}">
                <button class="edit-post-btn">Edit Post</button>
            </a>
        {{/ifCond}}
    {{/if}}

    <h3>Comments</h3>

    {{#each post.comments}}
        <div class="comment">
            <p>{{this.comment_text}}</p>
            <p class="comment-author-block">By <span class="comment-author">{{this.user.username}}</span> on {{formatDate this.createdAt}}</p>
            {{#if ../loggedIn}}
                {{#ifCond this.user_id ../loggedInUser.id}}
                    <button class="delete-comment-btn" data-id="{{this.id}}">Delete</button>
                {{/ifCond}}
            {{/if}}
        </div>
    {{else}}
        <p>Be the first to comment!</p>
    {{/each}}

    {{#if loggedIn}}
        <form class="comment-form">
            <input type="hidden" id="post-id" name="post-id" value="{{post.id}}">
            <div>
                <label for="comment-text">Comment:</label>
                <textarea id="comment-text" name="comment_text" required></textarea>
            </div>
            <button type="submit">Add Comment</button>
        </form>
        <script src="/js/comment.js"></script>
    {{else}}
        <p><a href="/login">Log in</a> to add a comment</p>
    {{/if}}
</div>

<script src="/js/deletePost.js"></script>